* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.orange-button {
    border-radius: 50px;
    color: #001185;
    background: #FA8E5A;
    border: none;
    height: 70px;
    width: max-content;
    padding: 0 4%;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.005em;
    text-transform: uppercase;
}

.App {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}
.Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background-color: #F9E7D9;
}

.menu-button {
    display: none;
}

.Navbar__menu {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    width: 30%;
}

.drop-menu {
    display: flex;
    justify-content: space-around;
    width: 30%;
    font-size: 1.2em;
}

.drop-menu a {
    font-family: 'Pribambas';
    text-decoration: none;
    color: black;
}

.drop-menu a:hover{
    transform: scale(115%);
}

.drop-menu {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.drop-menu a {
    font-family: 'Pribambas';
    text-decoration: none;
    color: black;
}

.Content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-height: 100%;
}

.Stock {
    display: flex;
    flex-direction: column;
}

.Stock__description {
    text-align: center;
    padding: 3% 0;
    background-color: #F9E7D9;
    box-shadow: 0 5px 3px -1px rgba(0, 0, 0, 0.25) inset;
}

.Stock__description span {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.005em;
    color: #A95099;
    padding: 2% 0;
}

.Stock__description button {
    height: 70px;
    width: max-content;
    padding: 0 4%;
    margin-top: 2%;
}


.Stock h2 {
    font-family: 'Pribambas';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.005em;
    text-transform: uppercase;
    color: #001185;
}

.Stock h1 {
    background: url("./img/background_text.png");
}

.Stock_text_form {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #001185;
    width: 50%;
    margin: 0 auto;
}

.Stock__date {
    font-family: 'Pribambas';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: -0.005em;
    text-transform: uppercase;
    color: #001185;
    padding: 2% 0;
}

#Stock__timer {
    font-weight: bold;
}

.Text {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 5% 15%;
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
}

.Projects {
    margin-bottom: 100px;
}

.Projects__caption {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    background-color:  #F9E7D9;
    font-family: 'Pribambas';
    text-transform: uppercase;
}

.Projects__item {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}

.Afish {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 189px;
    background-color: #F9E7D9;
}

.Organizers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 0;
}

.Organizers__logo {
    margin: 3% 0;
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.Organizers__supports {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 4%;
    text-align: center;
}

.Supports__logo {
    width: 50%;
}

.Supports__logo-center {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 10%;
}

.Partners__logo {
    text-align: center;
    width: 50%;
}


@font-face {
    font-family: "Pribambas";
    src: url("./fonts/Pribambas-Regular.ttf");
}

@media (max-width: 414px){
    .App{
        min-width: 100%;
    }

    .Navbar{
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .Navbar img {
        width: 50%;
        height: 100%;
    }

    .drop-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        font-size: 2em;
        animation: hidden 0.8s forwards;
    }

    .drop-menu a {
        margin: 5px 0;
    }

    .menu-button {
        display: block;
        width: 40px;
        height: 40px;
        background: url("./img/menu.png") 50% 50% no-repeat;
        background-size: cover;
        border: none;
    }

    .menu-button:active + .Navbar__menu {
        display: flex;
    }

    .menu-transition-enter {
        opacity: 0;
        transform: scale(0.9);
    }

    .menu-transition-enter-active {
        opacity: 1;
        transition: opacity 200ms;
    }

    .menu-transition-exit {
        opacity: 1;
    }

    .menu-transition-exit-active {
        opacity: 0;
        transform: scale(0.9);
        transition: opacity 200ms;
    }

    .Stock__description {
        padding-bottom: 8%;
    }

    .Stock__description h2 {
        margin: 5% 0;
    }

    .Stock_text_form {
        width: 100%;
    }


    .Stock__description img {
        width: 100%;
    }

    .Content {
        width: 100%;
    }

    .Projects__item {
        flex-direction: column;
        align-items: center;
    }

    .Organizers__logo {
        flex-direction: column;
        width: 200px;
        height: 500px;
    }

    .Organizers__supports {
        flex-direction: column;
        align-items: center;
    }

    .Supports__logo {
        margin: 5% 0;
    }

    .Supports__logo-center {
        flex-direction: column;
        margin: 0 auto;
        width: 200px;
        height: 500px;
    }

    .Partners__logo {
        margin-bottom: 15%;
    }

    .Contacts {
        flex-direction: column;
        padding: 5% 0;
    }
}

@keyframes hidden {
    0%{
        opacity: 0;
        transform: translateY(-10px);
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: translateY(0);
    }
}